if item_list.length > 0
  p Vous trouverez ci-dessous la liste des exigences sélectionnées à l’annexe X dont la conformité peut être évaluée. Cette liste peut être utilisé comme point de départ lors de la création d’un rapport de conformité sur l’accessibilité (RCA) pour votre solution. Si des exigences ne sont pas respectées, assurez-vous de les inclure dans votre ACR. De même, si des exigences ne s’appliquent pas, elles peuvent être marquées comme non applicables.
  ol
    each item in item_list
      li #{item.number} #{item.frName}
