if item_list.length > 0
  - var count = 0
  p Vous trouverez ci-dessous la liste des exigences sélectionnées dans l’annexe X qui peuvent être évaluées pour vérifier leur conformité. Elles peuvent également servir de guide pour la création d’un rapport de conformité en matière d’accessibilité (ACR), ou pour déterminer si un ACR atteste de la conformité à toutes les exigences applicables. Les critères énumérés doivent comporter un niveau de conformité déclaré dans l’ACR, ou une indication expliquant pourquoi ils n’ont pas été évalués.
  ul
    each item in test_list 
      li #{item.number} #{item.frName}
      - count = count + 1
  p Nombre total d’exigences testables: <strong>#{count}</strong>