if question_list.length === 1
  ul
    li #{question_list[0].frName}
else if question_list.length > 0
  ul
    each item, i in question_list
      if i < question_list.length - 2
        li #{item.frName};
      else if i == question_list.length - 2
        li #{item.frName} et
      else
        li #{item.frName}
else
  p
    strong Aucune clause n'a été supprimée.