if question_list.length === 1
  ul
    li #{question_list[0].name}
else if question_list.length > 0
  ul
    each item, i in question_list
      if i < question_list.length - 2
        li #{item.name};
      else if i == question_list.length - 2
        li #{item.name} and
      else
        li #{item.name}
else
  p
    strong No provisions have been removed.