if item_list.length === 1
  p La clause #{test_list[0].number} a été jugée pertinente pour ce TIC.
else if item_list.length > 0
  p
    | Les clauses 
    each item, i in item_list
      if i < item_list.length - 2
        | #{item.number}, 
      else if i == item_list.length - 2
        | #{item.number} 
      else
        | et #{item.number} ont été jugées pertinentes pour ce TIC.
else
  p
    strong Il n'y a pas d'exigences d'accessibilité fonctionnelle.