if item_list.length > 0
  table.table.table-bordered(alt='Table of EN 301 549 requirements and tests')
    thead
      tr.active
        th.col-sm-6(scope='col') EN 301 549 clause
    tbody
      each item in item_list
        tr
          td(valign='top')
            p
              strong #{item.number} #{item.name}
            | !{item.description}
            if item.description.length > 0
              p
                strong Relationship to functional performance statements:
                | !{item.compliance}
            else
              p
                strong Relationship to functional performance statements:
              | No user impact mapping