if item_list.length > 0
  table.table.table-bordered(alt='Tableau des exigences EN 301 549')
    thead
      tr.active
        th.col-sm-6(scope='col') Clause de la norme EN 301 549
    tbody
      each item in item_list
        tr
          td(valign='top')
            p
              strong #{item.number} #{item.frName}
            | !{item.frDescription}
            if item.frCompliance.length > 0
              p
                strong Relation avec les déclarations de performance French to be updated:
                | !{item.frCompliance}