if item_list.length > 0
  table.table.table-bordered(alt='Table of EN 301 549 requirements')
    thead
      tr.active
        th.col-sm-6(scope='col') EN 301 549 clause
    tbody
      each item in item_list
        tr
          td(valign='top')
            p
              strong #{item.number} #{item.name}
            | !{item.description}
            if item.compliance.length > 0
              p
                strong Relationship to Functional Performance Criteria:
                | !{item.compliance}