if item_list.length > 0
  table.table.table-bordered(alt='Tableau des exigences EN 301 549 et essais')
    thead
      tr.active
        th.col-sm-6(scope='col') Clause de la norme EN 301 549
    tbody
      each item in item_list
        tr
          td(valign='top')
            p
              strong #{item.number} #{item.frName}
            | !{item.frDescription}
            if item.description.length > 0
              p
                strong Relation avec les déclarations de performance fonctionnelle:
                | !{item.frCompliance}
            else
              p
                strong Relation avec les déclarations de performance fonctionnelle:
              | Pas d'impact utilisateur associé