doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    if format == 'docx'
      style
        include download_docx.css
    else
      style
        include download_html.css

  body(vocab='http://schema.org/' typeof='WebPage')
    .WordSection1
      p Generated #{moment().format('YYYY-MM-DD')}
      h1= title
      include includes/intro
      include includes/scope
      include includes/table_not_fillable
      include includes/annex
      