doctype html
html(lang='fr')
  head
    title Rapport de conformité d'accessibilité des technologies de l'information et des communications (TIC) (EN 301 549 v3.2.1)
    meta(charset='utf-8')
    style
      include download.css

  body(vocab='http://schema.org/' typeof='WebPage')
    .WordSection1
      p Généré le #{moment().format('YYYY-MM-DD')}
      include includes/evaluation_intro_fr.html
      h2 Exigences testables de la norme EN 301 549 (2025)
      include includes/list_evaluation_fr