doctype html
html(lang='en')
  head
    title Information and Communications Technology (ICT) Accessibility Conformance Report (EN 301 549 v3.2.1)
    meta(charset='utf-8')
    style
      include download.css

  body(vocab='http://schema.org/' typeof='WebPage')
    .WordSection1
      p Template generated #{moment().format('YYYY-MM-DD')}
      include includes/evaluation_intro.html
      h2 Testable requirements from the EN 301 549 (2025)
      include includes/table_evaluation

  