doctype html
html(lang='fr')
  head
    title Liste des éléments testables en matière de technologies de l'information et des communications (TIC) sélectionnés dans l'annexe X
    meta(charset='utf-8')
    style
      include download.css

  body(vocab='http://schema.org/' typeof='WebPage')
    .WordSection1
      p Généré #{moment().format('YYYY-MM-DD')}
      include includes/evaluation_intro_fr.html
      h2 Exigences testables issues de la norme EN 301 549 (2021-03)
      include includes/list_evaluation_fr