extends layout

block content

	h1 Admin Login

	if error
		.alert.alert-danger #{error}

	form(method="POST", action="/login")
		.form-group
		label(for="username") Username
		input#username.form-control(type="text", name="username", required)

		.form-group
		label(for="password") Password
		input#password.form-control(type="password", name="password", required)

		button.btn.btn-primary.btn-lg.mrgn-tp-lg(type="submit") Log In
