extends layout

block content
  h1#wb-cont(property='name')= title
  //- h3 About
  p This tool allows users to answer a series of questions relating to what their procurement or solution does #[strong not] contain, and then create a customized partial version of the EN standard in both official languages, English or Canadian French. Selecting the checkboxes for these questions in steps 1, 2, and 3 removes their associated provisions from the documents in step 5. Each step provides increasingly more precise levels of refinement for the provisions to be included, based on the previous steps’ selections. This allows the user to create a focused and more actively relevant set of Information and Communications Technology (ICT) accessibility requirements for their project or procurement.
  p For Business Owners/ Technical Authorities with the Government of Canada, this tool can be used to narrow down the requirements to be specific to the solution and/or service you are looking to purchase or build. The wizard output should be provided to your bidders as part of the solicitation process.
  hr

  form(novalidate='novalidate' method='POST' action='')
    input(type="hidden" id="selectedQuestions" name="questions" value="")
    .row
      .wb-tabs
        .tabpanels
          details#details-step1
            summary Step 1: Define ICT functionality
            p.form-instructions-link
              a.overlay-lnk.right(href='#instructionsStep1' aria-controls='instructionsStep1' role='button' title='Step 1 instructions') Instructions: Step 1
              a.btn.btn-default.overlay-lnk(href='#restoreModal' aria-controls='restoreModal' role='button' title='Resume editing by pasting a previously generated requirements list') Restore Selections
            - var step = 1
            include includes/wizard_form
            div(aria-live="polite")
              p.clause-count
                strong Total number of clause applicable: 0
            a.btn.btn-default.wb-tabs-ext.right(href='#details-step2', style='margin-bottom: 10px;') Next

          details#details-step2
            summary Step 2: Refine ICT functionality
            p.form-instructions-link
              a.overlay-lnk.right(href='#instructionsStep2' aria-controls='instructionsStep2' role='button' title='Step 2 instructions') Instructions: Step 2
            - var step = 2
            include includes/wizard_form
            div(aria-live="polite")
              p.clause-count
                strong Total number of clause applicable: 0
            a.btn.btn-default.wb-tabs-ext.left(href='#details-step1', style='margin-bottom: 10px;') Previous
            a.btn.btn-default.wb-tabs-ext.right(href='#details-step3', style='margin-bottom: 10px;') Next

          details#details-step3
            summary Step 3: Further refine ICT functionality
            p.form-instructions-link
              a.overlay-lnk.right(href='#instructionsStep3' aria-controls='instructionsStep3' role='button' title='Step 3 instructions') Instructions: Step 3
            - var step = 3
            include includes/wizard_form
            div(aria-live="polite")
              p.clause-count
                strong Total number of clause applicable: 0
            a.btn.btn-default.wb-tabs-ext.left(href='#details-step2', style='margin-bottom: 10px;') Previous
            a.btn.btn-default.wb-tabs-ext.right(href='#details-step4', style='margin-bottom: 10px;') Next


          details#details-step4
            summary Step 4: Review clause selection
            p.form-instructions-link
              a.overlay-lnk.right(href='#instructionsStep4' aria-controls='instructionsStep4' role='button' title='Step 4 instructions') Instructions: Step 4
            include includes/clause_tree
            div(aria-live="polite")
              p.clause-count
                strong Total number of clause applicable: 0
            div(style='margin-top: 8px;')
              a.btn.btn-default.wb-tabs-ext.left(href='#details-step3', style='margin-bottom: 10px;') Previous
              a.btn.btn-default.wb-tabs-ext.right(href='#details-step5', style='margin-bottom: 10px;') Next

          details#details-step5
            summary Step 5: Generate requirements documents
            p.form-instructions-link
              a.overlay-lnk.right(href='#instructionsStep5' aria-controls='instructionsStep5' role='button' title='Step 5 instructions') Instructions: Step 5
            include includes/download_chooser
            a.btn.btn-default.wb-tabs-ext.left(href='#details-step4', style='margin-bottom: 10px; margin-top: 8px;') Previous

  section.wb-overlay.modal-content.overlay-def.wb-popup-mid#instructionsStep1(role='dialog')
    header.modal-header
      h2.modal-title Instructions: Step 1
    .modal-body
      p This wizard uses negative selection to remove the types of Information Communication Technology (ICT) that do not apply to a solicitation or ICT solution. This means that the wizard has all provisions selected to start with, and checking boxes will remove the associated selections. 
      p Step 1 lists the major categories of ICT and it is recommended that you  carefully review your selections as these selections will eliminate large numbers of provisions from the EN 301 549 and will also remove checkboxes in Steps 2 and 3 which no longer apply.
      p There are optional buttons which can be selected before the checkboxes:
      ul
        li Select all/Deselect all buttons to uncheck or check all checkboxes in this step. This works the same way as manually checking or unchecking the checkboxes and will impact the options in Steps 2 and 3 in the same way
        li Show removed/Hide remove buttons will show or hide hidden checkboxes. This allows you to see what the tool has automatically hidden because of previous selections
        li Undo will revert the last check/uncheck or selecting Select all/Deselect all
      p If you would like to resume editing from a previously created annex, you can use the “Resume editing” button to open a dialog to copy and paste the list of the previous selections which will clear any selections you have made and reapply them.
      p Once you have finished making your selections select “next” to move to the next step, but you can return here if needed to adjust your selections.
      p Note 1: It is important to consider what could be included in the project or procurement, and to only remove items which you are sure do not apply. Many of these categories will be obvious such as removing hardware from a software-based solution. When it is less obvious consider using the help dialog located next to each item to get some additional context before making your selection.
      p Note 2: it is a common mistake to assume that a web-based solution means you select all the checkboxes (other than for websites). This is rarely appropriate as most web-based solutions apply to many of the other categories such as authoring tools, product documentation, support services or the audio video provisions.
      p Note 3: The “resume editing” feature uses an exact string match to locate the appropriate selections, so it is important to copy them exactly.
  section.wb-overlay.modal-content.overlay-def.wb-popup-mid#instructionsStep2(role='dialog')
    header.modal-header
      h2.modal-title Instructions: Step 2
    .modal-body
      p Step 2 presents the remaining categories of ICT which have 2 or more provisions associated with them. Carefully review your selections as the selections will eliminate multiple provisions and will also remove checkboxes in Step 3 which no longer apply.
      p You can find the same options from Step 1 before the checkboxes as follows:
      ul
        li Select all/Deselect all buttons to uncheck or check all checkboxes in this step. This works the same way as manually checking or unchecking the checkboxes and will impact the options in step 3 in the same way.
        li Show removed/Hide remove buttons will show or hide hidden checkboxes. This allows you to see what the tool has automatically hidden because of previous selections.
        li Undo will revert the last check/uncheck or selecting Select all/Deselect all.
      p Once you have finished making your selections select “next” to move to the next step, or “previous” if you need to adjust your selections in the previous step.
      p Note: It is important to consider what could be included in the project or procurement, and to only remove items which you are sure do not apply. Many of these categories will be obvious such as removing hardware from a software-based solution. When it is less obvious consider using the help dialog located next to each item to get some additional context before making your selection.
  section.wb-overlay.modal-content.overlay-def.wb-popup-mid#instructionsStep3(role='dialog')
    header.modal-header
      h2.modal-title Instructions: Step 3
    .modal-body
      p Step 3 presents the remaining categories of ICT which only have a single provision associated with them. If you feel like something is missing from the displayed options consider using the “Show removed” option as many of the options may have been hidden based on your selections in Steps 1 and 2.
      p You can find the same options from Steps 1 and 2 before the checkboxes as follows:
      ul
        li Select all/Deselect all buttons to uncheck or check all checkboxes in this step. This works the same way as manually checking or unchecking the checkboxes. 
        li Show removed/Hide remove buttons will show or hide hidden checkboxes. This allows you to see what the tool has automatically hidden because of previous selections.
        li Undo will revert the last check/uncheck or selecting Select all/Deselect all.
      p Once you have finished making your selections select “next” to move to the review step, or “previous” if you need to adjust your selections in the previous step.
      p Note: It is important to consider what could be included in the project or procurement, and to only remove items which you are sure do not apply. Many of these categories will be obvious such as removing hardware from a software-based solution. When it is less obvious consider using the help dialog located next to each item to get some additional context.
  section.wb-overlay.modal-content.overlay-def.wb-popup-mid#instructionsStep4(role='dialog')
    header.modal-header
      h2.modal-title Instructions: Step 4
    .modal-body
      p Step 4 is a review step which shows which selections will be included in the documents you download in Step 5 in a tree view. If you notice that there are any errors, go back to Steps 1, 2, or 3 to adjust your selections before proceeding to Step 5.
      p Tips for using the clause tree:
      ul
        li To expand or collapse parts of the tree with the mouse, click the arrow next to the clause you wish to expand. Or, click in the blank space next to the clause name.
        li To expand or collapse with the keyboard, use the arrow keys. The up and down arrows will move between clauses, while the right and left arrows will expand and collapse clauses.
        li Clauses which have no “children are the actual provisions from the standard and can be opened using a mouse or keyboard in the same way as the parent clauses.
  section.wb-overlay.modal-content.overlay-def.wb-popup-mid#instructionsStep5(role='dialog')
    header.modal-header
      h2.modal-title Instructions: Step 5
    .modal-body
      p Step 5 offers options to download two documents in both English and Canadian French as follows:
      ul
        li Requirements with informative sections (Annex X) – which is the selections made in Steps 1, 2, and 3 including all informative clauses as well as some additional information such as definitions and tables and figures
        li List of testable clauses (Annex Y) which, based on the ICT identified in Annex X, lists  the provisions which have testable criteria in them.
      p Note: Renaming the downloaded documents to more appropriate names is encouraged.
      h3 Microsoft Word document formatting
      p This tool currently has some limitations on how well it can format the resulting Word documents due to the underlying technology used and it is recommended that you consider manually updating:
      h4 For all downloads
      p Convert to the latest Microsoft Word document format by navigating to File > Info and selecting “convert”
      h4 Annex X
      ul
        li Insert page breaks at the start of the annexes
        li Insert/adjust page breaks to ensure that the captions associated to the annex with the “tables and figures” remain on the same page
      h4 For the French documents
      p The French documents will normally default the language to French and depending on which version of Word you are using may correctly identify some of the English words in the document and set their proofing language correctly. Review the below sections to ensure any English is marked up correctly. You can set the proofing language by clicking the language in the status bar, or by navigating to Review > Language > Set Proofing Language. If Word doesn’t seem to have done a good job auto detecting language consider selecting all and setting the document to be 100% French, and then check the below sections to mark the English text as English:
      ul
        li References
        li Abbreviations
      p Note: Make sure that the notes (which are in French) are not set to English
  section.wb-overlay.modal-content.overlay-def.wb-popup-mid#restoreModal(role='dialog')
    header.modal-header
      h2.modal-title Enter previous selections
    .modal-body
      p Paste the bulleted list of the selections made from annex X to resume editing .
      p The previous selections can be found in the "scope" section of the output which precedes the table of clauses and should look something like:
      ul
        li Is not and does not include a web page;
        li Is not and does not include a non-web document and
        li Is not and does not include hardware
      textarea.no-editor#questionList